<!DOCTYPE html>
<html>
{% load static %}  <!-- حملت static عشان أجيب ملف main.css -->
<head>
  <title>Links Page</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
  <a id="link1" class="link-row" href="https://www.qu.edu.sa" target="_blank">Go to QU website (open a new tab)</a>
  <a id="link2" class="link-row" href="https://www.qu.edu.sa">Go to QU website (open in the same page/tab)</a>
  <a id="link3" class="link-row" href="https://www.qu.edu.sa">Go to QU website (open in the same page/tab)</a>
</body>
</html>